.icon {
  animation: flame-off-flashing 8s linear infinite;
}

@keyframes flame-off-flashing {
  0%,
  100% {
    fill: var(--mantine-color-grape-6);
    stroke: var(--mantine-color-grape-8);
  }

  33.3% {
    fill: var(--mantine-color-blue-6);
    stroke: var(--mantine-color-blue-8);
  }

  66.6% {
    fill: var(--mantine-color-indigo-6);
    stroke: var(--mantine-color-indigo-8);
  }
}
